[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
starlette = "*"
marshmallow = "*"
marshmallow-dataclass = {extras = ["enum"], version = "*"}
uvicorn = {extras = ["standard"], version = "*"}
jinja2 = "*"

[dev-packages]
pytest = "*"
requests = "*"
playwright = "*"
pytest-playwright = "*"
pytest-asyncio = "*"
assertpy = "*"

[requires]
python_version = "3.9"
