.players {
  font-size: 9pt;
}

.players .header {
  font-weight: 700;
  margin-block: 0;
}

.players .player {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3px 5px;
}