/* https://codepen.io/morgoe/pen/VvzWQg */

.toggle {
  cursor: pointer;
  display: inline-block;

  --switch-width: 26px;
  --switch-height: 16px;
  --button-diameter: 12px;
  --button-top-align: calc((var(--switch-height) - var(--button-diameter)) / 2);
  --button-off-position: var(--button-top-align);
  --button-on-position: calc(var(--switch-width) - var(--button-off-position) - var(--button-diameter));
}

.toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: calc(var(--switch-height) / 2);
  width: var(--switch-width);
  height: var(--switch-height);
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}

.toggle-switch:before, .toggle-switch:after {
  content: "";
}

.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: var(--button-diameter);
  height: var(--button-diameter);
  position: absolute;
  top: var(--button-top-align);
  left: var(--button-off-position);
  transition: left 0.25s;
}

.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.toggle-checkbox:checked {
  --use-colorblind-filter: filter: brightness(1.5);
}

.toggle-checkbox:checked + .toggle-switch {
  background: #56c080;
}

.toggle-checkbox:checked + .toggle-switch:before {
  left: var(--button-on-position);
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  font-size: 0.8rem;
  position: relative;
  top: 1px;
}