<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <title>set game</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {# {% for card in deck %}
      {% set imagepath = [card.number, card.color, card.shading, card.shape]|join('-', attribute='name')|lower %}
      <link rel="preload" as="image" href="{{ url_for('static', path='cards/' ~ imagepath ~ '.png') }}">
    {% endfor %} #}

    <link rel="stylesheet" href="{{ url_for('static', path='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='normalize.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', path='index.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="{{ url_for('static', path='icomoon.css') }}">

    <meta name="theme-color" content="#fafafa">
  </head>

  <body>
    <header>
      <h1 class="title">set game</h1>
    </header>
    <main id="root"></main>
    <footer>
      <h6>
        written by <i class="icon-github"></i> <a href="https://github.com/jaywritescode">jaywritescode</a>
      </h6>
    </footer>
    <script type="module" src="{{ url_for('static', path='dist/index.js') }}"></script>
  </body>
</html>